<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <div class="container-fluid">
      <table>
        <tbody>
          <thead>
            Room No
          </thead>
          <thead>
            
          </thead>
          {{#each emergencies}}
          <td>
            {{room_no}}
          </td>
          <td>
            {{Patient}}
          </td>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>
